<p id="notice"></p>

<h2>
  <%= @beer_club.name %> <%= @beer_club.city %>
</h2>
<% if current_user %>
  <% if @beer_club.memberships.select{|m| m.user_id == @membership.user_id}.size < 1 %>
  <%= form_for(@membership) do |f| %>
  <%= f.hidden_field :beer_club_id %>
  <%= f.submit value:"join the club" %>
  <% end %>
  <% else %>
  <%= form_for(@membership, url: membership_path(@beer_club.memberships.select{|m| m.user_id == @membership.user_id}[0].id), method: "delete") do |f| %>
  <%= f.hidden_field :beer_club_id %>
  <%= f.submit value: "end the membership" %>
  <% end %>
  <% end %>
<% end %>
<p>
 Founded
  <%= @beer_club.founded %>
</p>

<h3>Members</h3>

<ul>
  <% @beer_club.members.each do |member| %>
    <li><%= link_to member.username, member %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> 