<p id="notice"></p>

<h1>Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th> rated beers </th>
      <th> total ratings </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.beers.size %></td>
        <td><%= user.ratings.size %></td>
        <td><%= link_to "Change account status", toggle_activity_user_path(user.id), method: :post, class: "btn btn-primary" if current_user && current_user.admin && current_user.id != user.id %></td>
        <%  if user.closed && current_user && current_user.admin %>
         <td style='color:red'>Closed</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
