<p id="notice"></p>
<% if  @user.closed %>
<div class="alert alert-danger" role="alert">
  Account is closed
  <%= link_to "Open account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-outline-success" if current_user && current_user.admin && current_user.id != @user.id %>
</div>
<%end%>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
  <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</p>

<% if  @user.ratings.length() > 0%>
Has made <%= @user.ratings.length() %>, avarage rating <%= @user.average_rating().truncate(2)%>
<p>Favorite style = <%= @user.favorite_style() %></p>
<p>Favorite brewery = <%= @user.favorite_brewery() %></p>
<% end %>
<p>
  <% if @user.beer_clubs.any? %>
    member of 
    <% @user.beer_clubs.each do |club| %>
      <li> <%= link_to club.name, club %> </li>
    <% end %>
  <% end %>
</p>

<h3>ratings</h3>

<ul>
 <% @user.ratings.each do |rating| %>
 <li> <%= rating.beer.name %>, <%= rating.score %>,
 <% if @user == current_user %>
  <%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' }, id: rating.id%></li>
 <% end %>
 <% end %>
 <ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
