<p id="notice"></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
   <% if not @brewery.active  %>
    <span class="badge badge-info">retired</span>
  <% end %>
</p>

<p>
  Established at
  <%= @brewery.year %>
</p>

<p>
  <strong>Beers</strong>
 
  (Number of beers: <%= @brewery.beers.count %>)
  <% @brewery.beers.each do |beer| %>
    <br/>
    <%= link_to beer.name, beer %>
  <% end %>
  <br/>
 
</p>

<p>
  Has <%= pluralize(@brewery.ratings.length, 'rating') %> <br/>
   <% if  @brewery.average_rating() %>
    Avarage: <%= @brewery.average_rating().truncate(2) %>
  <% end %>
  
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery)  if current_user%> |
<%= link_to 'Back', breweries_path %>
