<%= form_with(model: beer, local: true) do |form| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@beer) do |b| %>
    Name
    <br/> 
    <%= b.text_field :name, :placeholder => @beer.name, class: "form-control" %>
    <br/>
    <br/>
    Style
    <br/>
    <%= b.select :style, options_from_collection_for_select(@styles, :id, :name),  class: "dropdown-menu" if @styles%>
    <br/>
    <br/>
    Brewery
    <br/>
    <%= b.select :brewery_id, options_from_collection_for_select(@breweries, :id, :name) if @breweries %>
    <br/>
    <br/>
    <%= b.submit %>
<% end %>
<% end %>
