<h1>Editing Beer</h1>

<%= render 'form', beer: @beer %>

<%= link_to 'Show', @beer %> |
<%= link_to 'Back', beers_path %> |
<%= link_to 'Breweries', breweries_path %> |
<%= link_to 'Beers', beers_path %>
